
Project Pertama - Ibnu Ubaedillah/Library/*
Project Pertama - Ibnu Ubaedillah/Logs/*
Project Pertama - Ibnu Ubaedillah/Temp/*

Project Pertama - Ibnu Ubaedillah/.vsconfig
Project Pertama - Ibnu Ubaedillah/*.sln