Project Pertama - Ibnu Ubaedillah/Library/*
Project Pertama - Ibnu Ubaedillah/Logs/*
Project Pertama - Ibnu Ubaedillah/Temp/*

Project Pertama - Ibnu Ubaedillah/.vsconfig
Project Pertama - Ibnu Ubaedillah/*.sln

Ibnu ubaedillah - Pong/Library/*
Ibnu ubaedillah - Pong/Logs/* 
Ibnu ubaedillah - Pong/Temp/* 
Ibnu ubaedillah - Pong/.vs/* 
Ibnu ubaedillah - Pong/obj/* 
 
Ibnu ubaedillah - Pong/.vsconfig 
Ibnu ubaedillah - Pong/*.sln 
Ibnu ubaedillah - Pong/*.csproj 
